.g-scrolly-text{
  background: rgba(255, 255, 255, 0.5);
  font-size: $large-font-size;
  font-family: $base-font-family;
  font-weight: $base-weight;
  color: $grey75K;
}


.g-pop-explain {
  font-family:Lato,sans-serif;
  font-size:18px;
  line-height:21px;
  font-weight:300;
  color:#636466;
}

#intro-max {
  position: fixed;
  top: $top-padding;
  padding-left: 5px;
  // z-index: 100;
}

.intro-full{
  position: fixed;
  // left: 0;
}



// ---------
// From ai2html:
.g-artboard {
  margin:0 auto;
}


#g-Africa_base_final-afr-map{
  position:relative;
  overflow:hidden;
}
.g-aiAbs{
  position:absolute;
}
.g-aiImg{
  display:block;
  width:100% !important;
}

#g-Africa_base_final-afr-map .g-aiPstyle1 {
  font-family:Lato,sans-serif;
  font-size:18px;
  line-height:21px;
  font-weight:300;
  color:#636466;
}

#g-Africa_base_final-afr-map .g-aiPstyle3 {
  font-family:Lato,sans-serif;
  font-size:18px;
  line-height:21px;
  font-weight:300;
  text-align:right;
  color:#636466;
}
.g-aiPtransformed p { white-space: nowrap; }

#g-Africa_base_final-afr-map{
  position:relative;
  overflow:hidden;
}
.g-aiAbs{
  position:absolute;
}
.g-aiImg{
  display:block;
  width:100% !important;
}
#g-Africa_base_final-afr-map p{
  font-family:nyt-franklin,arial,helvetica,sans-serif;
  font-size:13px;
  line-height:18px;
  margin:0;
}
#g-Africa_base_final-afr-map .g-aiPstyle0 {
  font-family:Lato,sans-serif;
  font-size:14px;
  line-height:17px;
  font-weight:300;
  color:#636466;
}

#g-Rwanda_LakeVic_final-lakevic{
  position:relative;
  overflow:hidden;
}

#g-Rwanda_LakeVic_final-lakevic .g-aiPstyle0 {
  font-family:Lato,sans-serif;
  font-size:14px;
  line-height:17px;
  font-weight:300;
  font-style:italic;
  text-transform:uppercase;
  text-align:center;
  letter-spacing:0.33333333333333em;
  color:#aec0c3;
}


#g-Rwanda_LakeVic_final-lakevic .g-aiPstyle1 {
  font-family:Lato,sans-serif;
  font-size:28px;
  line-height:34px;
  font-weight:400;
  color:#636466;
}
#g-Rwanda_LakeVic_final-lakevic .g-aiPstyle2 {
  font-family:Lato,sans-serif;
  font-size:26px;
  line-height:31px;
  font-weight:300;
  color:#636466;
}

.g-aiPtransformed p { white-space: nowrap; }

#g-Rwanda_LakeVic_final-lakevic-cities{
  position:relative;
  overflow:hidden;
}

#g-Rwanda_LakeVic_final-lakevic-cities .g-aiPstyle0 {
  font-family:Lato,sans-serif;
  font-size:12px;
  line-height:16px;
  font-weight:400;
  letter-spacing:0.16666666666667em;
  color:#6b6b6c;
  text-shadow: white 1px 1px ;
}
