.g-cities {
  text-shadow: $grey90K 2px 2px ;
}

.g-artboard {
  margin:0 auto;
}

  #g-07_RWA_religion-protestant-map{
    position:relative;
    overflow:hidden;
  }
  .g-aiAbs{
    position:absolute;
  }
  .g-aiImg{
    display:block;
    width:100% !important;
  }
  #g-07_RWA_religion-protestant-map p{
    font-family:Lato,sans-serif;
    font-size:13px;
    line-height:18px;
    margin:0;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle0 {
    font-family:Lato,sans-serif;
    font-size:14px;
    line-height:16px;
    font-weight:300;
    text-transform:uppercase;
    color:#414042;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle1 {
    font-family:Lato,sans-serif;
    font-size:27px;
    line-height:33px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:-0.04166666666667em;
    color:#414042;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle2 {
    font-family:Lato,sans-serif;
    font-size:11px;
    line-height:13px;
    font-weight:300;
    color:#808285;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle3 {
    font-family:Lato,sans-serif;
    font-size:16px;
    line-height:16px;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:0.16666666666667em;
    color:#b1b3b6;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle4 {
    font-family:Lato,sans-serif;
    font-size:12px;
    line-height:12px;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:0.15em;
    color:#b1b3b6;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle5 {
    font-family:Lato,sans-serif;
    font-size:14px;
    line-height:16px;
    font-weight:300;
    letter-spacing:0.08333333333333em;
    color:#ffffff;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle6 {
    font-family:Lato,sans-serif;
    font-weight: 300;
    font-size:10px;
    line-height:12px;
    text-align:center;
    color:#658338;
  }
  #g-07_RWA_religion-protestant-map .g-aiPstyle7 {
    font-family:Lato,sans-serif;
    font-size:14px;
    line-height:17px;
    font-weight:300;
    font-style:italic;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:0.33333333333333em;
    color:#a1abb7;
  }
  .g-aiPtransformed p { white-space: nowrap; }


    #g-07_RWA_religion-catholic-map{
      position:relative;
      overflow:hidden;
    }
    .g-aiAbs{
      position:absolute;
    }
    .g-aiImg{
      display:block;
      width:100% !important;
    }
    #g-07_RWA_religion-catholic-map p{
      font-family:nyt-franklin,arial,helvetica,sans-serif;
      font-size:13px;
      line-height:18px;
      margin:0;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle0 {
      font-family:Lato,sans-serif;
      font-size:14px;
      line-height:16px;
      font-weight:300;
      text-transform:uppercase;
      color:#414042;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle1 {
      font-family:Lato,sans-serif;
      font-size:27px;
      line-height:33px;
      font-weight:300;
      text-transform:uppercase;
      letter-spacing:-0.04166666666667em;
      color:#414042;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle2 {
      font-family:Lato,sans-serif;
      font-size:11px;
      line-height:13px;
      font-weight:300;
      color:#808285;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle3 {
      font-family:Lato,sans-serif;
      font-size:16px;
      line-height:16px;
      font-weight:300;
      text-transform:uppercase;
      text-align:center;
      letter-spacing:0.16666666666667em;
      color:#b1b3b6;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle4 {
      font-family:Lato,sans-serif;
      font-size:12px;
      line-height:12px;
      font-weight:300;
      text-transform:uppercase;
      text-align:center;
      letter-spacing:0.15em;
      color:#b1b3b6;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle5 {
      font-family:Lato,sans-serif;
      font-size:14px;
      line-height:16px;
      font-weight:300;
      letter-spacing:0.08333333333333em;
      color:#ffffff;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle6 {
      font-family:Lato,sans-serif;
      font-weight: 300;
      font-size:10px;
      line-height:12px;
      text-align:center;
      color:#658338;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle7 {
      font-family:Lato,sans-serif;
      font-size:14px;
      line-height:17px;
      font-weight:300;
      font-style:italic;
      text-transform:uppercase;
      text-align:center;
      letter-spacing:0.33333333333333em;
      color:#a1abb7;
    }
    #g-07_RWA_religion-catholic-map .g-aiPstyle8 {
      font-family:Lato,sans-serif;
      font-size:10px;
      line-height:12px;
      font-weight:300;
      color:#636466;
    }
    .g-aiPtransformed p { white-space: nowrap; }
