.g-cities, .g-provinces {
  text-shadow: $grey90K 1px 1px ;
}

.g-artboard {
  height:inherit;
  // display: inline-block;
  margin: auto;
  width: 100%;
  position: absolute;
  left: 0;
}


#g-Rwanda_base_final-popdensity{

}

// dual panel side-by-side maps
#g-protestant-map, #g-catholic-map, #g-mcu_regr-MCU-regr2010, #g-mcu_regr-MCU-regr2014{
  display: inline-block;
  top: 100px;
  width: 49%;
}

// overlapped maps
.overlapped {
  position: fixed;
  top: 0;
  // max-width: inherit;
  // display: inline-block;
}

#g-catholic-map, #g-mcu_regr-MCU-regr2014 {
float: right;
}

#g-07_RWA_religion-box {
  vertical-align: middle;
}
