.g-Cities, .g-Cities-copy {
  text-shadow: $grey90K 1px 1px ;
}

.g-artboard {
  height:inherit;
}

#g-07_RWA_religion-protestant-map, #g-07_RWA_religion-catholic-map {
  display: inline-block;
  top: 100px;
  width: 49%;
}

#g-07_RWA_religion-catholic-map {
float: right;
}

#g-07_RWA_religion-box {
  vertical-align: middle;
}
