// Main set up: containers, main fonts
/*Width of main container*/
.container {
  max-width: 1000px;
  // padding-right: 15px; /* normal 15 px + 25 px for breadcrumbs.*/
}

body {
  font-family: $base-font-family;
  font-weight: $base-weight;
}

/*Row containing ALL the elements (sections, vis., etc.)*/
#graphic {
  padding-top: 60px;
}

/*Sections with the scrolling text on the side*/
#sections {
  position: relative;
  display: inline-block;
  top: 0px;
  z-index: 90;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  padding-bottom: 200px;
}

#sections .title {
  font-weight: $font-bold;
  font-family: $base-font-family;
  font-size: $title-size;
  margin-bottom: 2px;
  color: $title-color;
  text-shadow: 2px 2px #fff;
  line-height: 1.2em;
}

.paragraph {
  margin-bottom: 20px;
}


.step {
  margin-bottom: 200px;
  font-size: $base-font-size;
  line-height: $base-font-size * 1.3;
  color: $base-font-color;
}


#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed; /* --> non-responsiveness w.r.t. bootstrap template, but needed to correctly be placed. */
  top: 60px;
  z-index: 1;
  margin-left: 0;
  padding: 0;
}

#vis .title {
  text-anchor: middle;
}

// Accent/special fonts --------------------------------------------------------
strong {
  font-weight: $font-bold;
  color: $accent-green;
}

.overlay-text {
  text-shadow: 1px 1px #fff;
}

// -- standard links --
a{
  color: $accent-main;
}
a:visited {
  color: $accent-dark;
}
a:hover {
  text-decoration: underline;
}

// Add >> for links within "motivation section"
#motivation a::before, #what-did a::before {
  content: "\f101  ";
  font-family: 'FontAwesome';
}

// INTERACTION -----------------------------------------------------------------
#breadcrumbs {
  cursor: pointer;
}
