// Main set up: containers, main fonts
/*Width of main container*/
.container {
  max-width: 1000px;
  // padding-right: 15px; /* normal 15 px + 25 px for breadcrumbs.*/
}

body {
  font-family: $base-font-family;
  font-weight: $base-weight;
}

/*Row containing ALL the elements (sections, vis., etc.)*/
#graphic {
  padding-top: 60px;
}

/*Sections with the scrolling text on the side*/
#sections {
  position: relative;
  display: inline-block;
  top: 0px;
  z-index: 90;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  padding-bottom: 200px;
}

#sections .title {
  font-weight: $font-bold;
  font-family: $base-font-family;
  font-size: $title-size;
  margin-bottom: 2px;
  color: $title-color;
  text-shadow: 2px 2px #fff;
  line-height: 1.2em;
}

.paragraph {
  margin-bottom: 20px;
}


.step {
  margin-bottom: 200px;
  font-size: $base-font-size;
  line-height: $base-font-size * 1.3;
  color: $base-font-color;
}


#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed; /* --> non-responsiveness w.r.t. bootstrap template, but needed to correctly be placed. */
  top: 60px;
  z-index: 1;
  margin-left: 0;
  padding: 0;
}

#vis .title {
  text-anchor: middle;
}

// Accent/special fonts --------------------------------------------------------
strong {
  font-weight: $font-bold;
  color: $accent-green;
}

.overlay-text {
  text-shadow: 1px 1px #fff;
}

// -- standard links --
a{
  color: $accent-main;
}
a:visited {
  color: $accent-dark;
}
a:hover {
  text-decoration: underline;
}

// Add >> for links within "motivation section"
#motivation a::before, #what-did a::before {
  content: "\f101  ";
  font-family: 'FontAwesome';
}

.pdf {
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #008080;
  margin-top: -20px;
  text-align: right;
}

/* Add >> for links within "motivation section"*/
.pdf a::before {
  content: "\f101  ";
  font-family: 'FontAwesome';
}


.highlight {
  color: #008080;
}


#intro .title, .subtitle{
  font-family: "Lora", serif;
  text-align: center;
}

#intro .title{
  font-size: 48px;
    color: #666;
      padding-bottom: 25px;
}

#intro .subtitle{
  font-size: 28px;
    color: #999;
    padding-bottom: 10px;
}

#intro > .step > .paragraph{
  font-size: 20px;
  line-height: 1.25em;
}

#intro-sum .subtitle{
  text-align: left;
}


#ciText {
  font-family: "Oxygen", sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #888;
  text-align: right;
  text-anchor: end;
}

.summary-list{
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid #bababa;
    border-bottom: 2px solid #bababa;
    /*font-family: "Lora", serif;*/
    font-size: 22px;
    line-height: 1.25em;
}

.summary-list > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.accent-red {
  color: #d53e4f;
}

.accent-green {
  color: #66c2a5;
}

// INTERACTION -----------------------------------------------------------------
#breadcrumbs {
  cursor: pointer;
}


.button {
  cursor: pointer;
  display: block;
  text-align: center;
  box-shadow:  1px 3px 10px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 5px;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eee;
  position:relative;
}

.button:before {
content: " ";
position: absolute;
z-index: 50; /*place above the button*/
border-radius: 0px 0px 5px 5px;
left: 1px;
right: 1px;
bottom: 0px;
border: 3px solid #ddd;
}

.button:after {
content: " ";
position: absolute;
z-index: 90; /*place above the button*/
border-radius: 5px;
border: 1px solid #aaa;
left: 0px;
right: 0px;
bottom: 0px;
top: 0px;
}

#select-cat > .button:hover{
  background-color: #f8f8f8;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}


#select-cat > li {
  float: right;
}

.button a {
  color: $base-font-color;
  text-decoration: none;
}
