// Define variables and constants for entire site.

// colors
$soft-black: #353839;
$rwanda-blue: #00A3E0;
$rwanda-ltblue: #87C0E8;
$rwanda-dkblue: #1F6E90;
$rwanda-green: #006f3d;
$rwanda-yellow: #f7b500;
$rwanda-dkyellow: #f9a800;


// accent colors
$accent-main: $rwanda-blue;
$accent-light: $rwanda-ltblue;
$accent-dark: $rwanda-dkblue;


// font: family
$base-font-family:'Oxygen', Helvetica, Arial, sans-serif;
$accent-font: 'Lato', Helvetica, Arial, sans-serif;
$serif-font: 'Lora', serif;
$nav-font: 'Oswald', sans-serif;


// font: weight
$base-weight: 300;
$font-semibold: 400;
$font-bold: 400;

// font: sizes
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.125;

// font: colors
$base-font-color: lighten($soft-black, 10%);



// widths for media queries
$max-width:  900px;
$med-width:  800px;
$small-width:  500px;

// Sub-scss files to import.

@import
  "basics",
  "nav";
