// Define variables and constants for entire site.

// colors
$soft-black: #353839;
$rwanda-blue: #00A3E0;
$rwanda-ltblue: #87C0E8;
$rwanda-dkblue: #1F6E90;
$rwanda-green: #006f3d;
$rwanda-yellow: #f7b500;
$rwanda-dkyellow: #f9a800;


// accent colors
$accent-main: $rwanda-blue;
$accent-light: $rwanda-ltblue;
$accent-dark: $rwanda-dkblue;


// font: family
$base-font-family:'Lora', Helvetica, Arial, sans-serif;
$accent-font: 'Lato', Helvetica, Arial, sans-serif;
$serif-font: 'Lora', serif;
$nav-font: 'Oswald', sans-serif;

// Sub-scss files to import.

@import
"style";
