// -- define Nav bar --
.nav {
  // min-height: 30px;
}

.navbar-default {
  // height: 30px;
  line-height: 1.75em;
  background-color: $soft-black;
  border-radius: 0;
  border-width: 0;
  color: lighten($soft-black, 50%);
  font-size: $small-font-size;
  font-family: $nav-font;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 0;

.navbar-default .navbar-nav>li>a {
    color: lighten($soft-black, 50%);
    text-decoration: none;
    // padding-top: 0;
    // padding-bottom: 0;
    // margin-top: auto;
    // margin-bottom: 0;
    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 15px;
    }

  }
}

.navbar-default .navbar-nav>li>a:hover {
      color: lighten($soft-black, 60%);
      text-decoration: underline;
    }

  /*Navbar on the right, for breadcrumbs*/
    .navbar-fixed-right {
      position: fixed;
    }
