// CSS for plots, axes, etc.
// axes ------------------------------------------------------------------------
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.axis path {
  display:none;
}
.axis text {
  font-size: $axis-font-size;
  fill: $base-font-color;
}

// .x.axis line {
//   display: none;
// }
.y.axis line {
  display:none;
}

.y.axis #tfr-y line{
  stroke: $grey25K;
  stroke-width: 10;
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: $grey25K;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.x.axis > #tfr-x line {
    display: none;
  }

.x.label {
  fill: #999;
  font-size: 18px;
  font-family: $base-font-family;
  font-weight: $base-weight;

}


// grids ------------------------------------------------------------------------
.grid line {
  stroke: $grey25K;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.top-label {
  float: left;
  margin-left: 250px;
  height: 2.1em;
  color: #888;
}



// dots ------------------------------------------------------------------------
.dot {
  stroke: $soft-black;
  stroke-width: 0.5;
}

.dot_mask {
  stroke: #fff;
  fill: #fff;
  stroke-width: 5;
}

#tfr-circles {
  // fill: $grey25K;
}

// line charts
#tfr-line{
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}


// ref lines ------------------------------------------------------------------------
.natl {
  stroke: #333;
  stroke-width: 1;
}

.natl2010 {
  stroke: #666;
  stroke-width: 1;
}

.change {
  stroke: #333;
  stroke-width: 0.5;
}


.ci {
  stroke: #888;
  stroke-width: 5;
}

#bar-ref {
  stroke-width: 0.75;
  stroke: $grey90K;
  stroke-dasharray: 8;
}

// annotations ------------------------------------------------------------------------
.annot {
  font-family: $base-font-family;
  font-weight: base-weight;
  font-size: 18px;
  // fill: #555;
  dominant-baseline: central;
}

.source {
  font-family: $base-font-family;
  font-weight: base-weight;
  font-size: 11px;
  text-align: left;
  fill: $grey50K;
}

#val-annot {
    text-anchor: middle;
}

.natl-value {
  font-size: 24px;
  font-family: $base-font-family;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

.natl-annot {
  text-anchor: end;
}

.natl-annot2010 {
  text-anchor: start;
  font-size: 28px;
  font-family: $base-font-family;
}

.val-labels text{
  text-anchor: end;
  fill: #555;
}

// maps ------------------------------------------------------------------------
.rw-map {
  display: block;
margin-left: auto;
margin-right: auto
}
