// CSS for plots, axes, etc.
// axes ------------------------------------------------------------------------
.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.axis path {
  display:none;
}
.axis text {
  font-size: $axis-font-size;
  fill: $base-font-color;
}

.axis.big text {
  font-size: $large-font-size;
  fill: $base-font-color;
}

// .x.axis line {
//   display: none;
// }
.y.axis line {
  // display:none;
}

.y.axis line{
  stroke: #ded;
  stroke-dasharray: 10;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: $grey25K;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.axis > #tfr-x line {
    display: none;
  }

.x.label {
  fill: #999;
  font-size: 18px;
  font-family: $base-font-family;
  font-weight: $base-weight;

}

// small multiples ------------------------------------------------------------------------
.sm-mult {
  display: inline-block;
  position: absolute;
  top: 0;
}

// grids ------------------------------------------------------------------------
.grid line {
  stroke: $grey25K;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.top-label {
  float: left;
  alignment-baseline: hanging;
  margin-left: 250px;
  height: 2.1em;
  color: #888;
}



// dots ------------------------------------------------------------------------
.dot {
  stroke: $soft-black;
  stroke-width: 0.5;
}

.dot_mask {
  stroke: #fff;
  fill: #fff;
  stroke-width: 5;
}

#tfr-circles {
  // fill: $grey25K;
}

// line charts
#tfr-line{
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}


// ref lines & connectors ------------------------------------------------------------------------
.natl {
  stroke: #333;
  stroke-width: 1;
}

.natl2010 {
  stroke: #666;
  stroke-width: 1;
}

.change {
  stroke: #333;
  stroke-width: 0.5;
}


.ci {
  stroke: #888;
  stroke-width: 5;
}

#bar-ref {
  fill: none;
  stroke-width: 0.75;
  stroke: $grey90K;
  stroke-dasharray: 8;
}

.dotted-line {
  fill: none;
  stroke-width: 0.75;
  stroke: $grey90K;
  stroke-dasharray: 6;
}


.afr-outline {
  fill: none;
  stroke-width: 0.75;
  stroke: #89a3cf;
}

.slope {
  stroke-width: 1.5;
  // shape-rendering: crispEdges;
}

#mcu-lolli {
  stroke-width: 1.5;
  stroke: $grey75K;
  // shape-rendering: crispEdges;
}

// annotations ------------------------------------------------------------------------
.annot {
  font-family: $base-font-family;
  font-weight: base-weight;
  font-size: 18px;
  // fill: #555;
  dominant-baseline: central;
}



#val-annot {
    text-anchor: middle;
}

.natl-value {
  font-size: 24px;
  font-family: $base-font-family;
  font-weight: bold;
  fill: #fff;
  text-anchor: middle;
}

.natl-annot {
  text-anchor: end;
}

.natl-annot-right {
  text-anchor: start;
}

.natl-annot2010 {
  text-anchor: start;
  font-size: 28px;
  font-family: $base-font-family;
}

.val-labels text{
  text-anchor: end;
  fill: #555;
}

.prot-annot {
  border-left: #ce6dbd solid 3px;
  padding-left: $base-pad;
  margin-left: 20px;
  position: absolute;
}

.cath-annot {
  border-left: #b5cf6b  solid 3px;
  padding-left: $base-pad;
  margin-left: $large-pad;
  position: absolute;
}

// swoopy arrows.
path.arrow, #arrowhead {
  fill: none;
  stroke: $grey75K;
}
path.arrow.light {
  opacity: .1;
}

// maps ------------------------------------------------------------------------
.rw-map {
  display: block;
  margin-left: auto;
  margin-right: auto
}
