// -- Reset defaults for all site --
html{
}

// correct for bootstrap margins
.page{
margin-right: 15px;
margin-left: 15px;
}

// -- define padding & sizing for site --
body{
  font-family: $base-font-family;
  font-weight: $base-weight;
  color: $base-font-color;
  width: $max-width;
  line-height: $base-line-height;
  margin: 20px;
}

// -- remove excess padding in ul --
ul{
  margin-top: 0.25em;
}


// -- standard links --
a{
  color: $accent-main;
}
a:visited {
  color: $accent-dark;
}
a:hover {
  text-decoration: underline;
}



// Titles with line across the middle
#accent-title h2 {
  text-align: center;
  font-family: "Lora";
  border-bottom: 1px solid $soft-black;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#accent-title h2 span {
  background:#fff;
  padding:0 10px;
}

// Intro image
#intro-headline{
  padding: 0;
}

.intro-img {
  background-image:url("../Rwanda_img/IMG_1490.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin: 0px;
  position: relative;
}

#intro-headline span{
  position: absolute;
  margin: 10px;
  padding: 0;
  width: 96%;
  text-align: center;
  font-size: 1.6em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
}


// Add >> for links within "motivation section"
#motivation a::before, #what-did a::before {
  content: "\f101  ";
  font-family: 'FontAwesome';
}

// hyperlink
.link-highlight {
//  font-family: $nav-font;
  //text-transform: uppercase;
}

// -- footer --
.site-footer {
  background-color: $grey25K;
  height: 40px;
  position: relative;

  > img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  span {
    vertical-align: middle;
    line-height: 40px;
  }
}


.logo-L {
  padding: $base-pad;
  padding-right: $base-pad*2;
  float: left;
  height: 85%;
}

.logo-R {
  padding: $large-pad;
  float: right;
  height: 40%;
}
