// -- define Nav bar --
.navbar-default {
  line-height: 1.75em;
  background-color: $soft-black;
  border-radius: 0;
  border-width: 0;
  color: lighten($soft-black, 50%);
  font-size: $base-font-size;
  font-family: $nav-font;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 0;

  .page-link a {
    color: lighten($soft-black, 50%);
    text-decoration: none;
    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 15px;
    }

  }
}

.navbar-default .navbar-nav>li>a:hover {
      color: lighten($soft-black, 60%);
      text-decoration: underline;
    }
